@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   padding: 0;
   margin: 0;
   /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
   font-family: Josefin Sans;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.mapouter {
   position: relative;
   text-align: right;
   padding-top: 56.25%; /* 16:9 aspect ratio */
   height: 300px; /* Adjust height to make the map smaller */
   overflow: hidden;
   max-width: 100%; /* Ensure it scales to fit the parent */
   margin: 0 auto; /* Center the map */
 }
 
 .gmap_canvas {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: none !important;
 }

.img{
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   display: inline-block;
}

.grid-wrapper > div{
   display: flex;
   justify-self: center;
   align-items: center;
}

.grid-wrapper > div > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
}

.grid-wrapper{
   display: grid;
   grid-gap: 5px;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-auto-rows: 200px;
   grid-auto-flow: dense
}

.grid-wrapper .wide{
   grid-column: span 2;
}

.grid-wrapper .tall {
   grid-row: span 2;
}

.grid-wrapper .big{
   grid-column: span 2;
   grid-row: span 2;
}
 
@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
   body {
      color: black;
      /* background: #fdf0d1; */
      background: white;
   }
}